
<div>
	<form class="form-horizontal" style="width:400px">
		<!--
		<fieldset class="form-group" >
		    <label for="rows">Rows</label>
		    <select class="form-control" id="rowsSelect" >
			    <option value="customers">Customers</option>
			    <option value="states">States</option>
		    </select>
	  	</fieldset>

		<fieldset class="form-group">
		    <label for="order">Order</label>
		    <select class="form-control" id="orderSelect">
			    <option value="alpha">Alphabetical</option>
			    <option value="top">Top-K</option>
		    </select>
	  	</fieldset>
		-->

		<fieldset class="form-group">
		    <label for="order">Categories</label>
		    <select class="form-control" id="categorySelect">
			    <option value="all">All Categories</option>
				<option ng-repeat="category in ctlr.categories" value="{{category.id}}">
				   {{category.name}}
				</option>
		    </select>
	  	</fieldset>
		
		<div ng-click="ctlr.runQuery()" class="btn btn-primary">Run Query</div>
		<br><br>


		
		<!--
		<div ng-click="ctlr.incColumns()" class="btn btn-primary" id="incCols">Next 50 Columns (products) </div>
		<br>
		<div ng-click="ctlr.incRows()" class="btn btn-primary" id="incRows">Next 50 Rows (states)</div>
		<br>
		<span>{{ctlr.x_string}}</span>
		<br>
		<span>{{ctlr.y_string}}</span>
		-->
		

	</form>
</div>

<div style="position: relative; width: {{ctlr.width}}px;">
	<div ng-click="ctlr.runQuery()" class="btn btn-primary">Refresh</div>
	<div ng-click="ctlr.runQuery()" style="position: absolute; right: 0;" class="btn btn-primary">Refresh</div>

	<div id="table">

	</div>

	<div ng-click="ctlr.runQuery()" class="btn btn-primary">Refresh</div>
	<div ng-click="ctlr.runQuery()" style="position: absolute; right: 0;" class="btn btn-primary">Refresh</div>
</div>
