<div class="row">
	<div class="form-group" id = "form_products_right">
		<h3>Your Purchase</h3>
		<div ng-repeat="item in ctlr.cart">
			<h4>Item #{{$index}}</h5>
			<form class="form-horizontal">
				<div class = "form-inline form-group">
		  			<label class="col-md-1 control-label">Name</label>
		  			<input id="product_name" class="form-control col-md-offset-1" type="text" name="name" value="{{item.productname.trim()}}" readonly>
				</div>
				<div class = "form-inline form-group">
		  			<label class="col-md-1 control-label">Price</label>
		  			<input id="price" class="form-control col-md-offset-1" type="number" name="type" value="{{item.price}}" readonly>
				</div>
				<div class = "form-inline form-group">
		  			<label class="col-md-1 control-label">Quantity</label>
		  			<input id="quantity" class="form-control col-md-offset-1" type="number" name="type" value="{{item.quantity}}" readonly>
				</div>
			</form>
			<hr>
		</div>
		Total: ${{ctlr.total}}
	</div>
</div>