
<div class="row">
  	<div class="form-group col-md-5" id = "form_products_right">
  		<h3>Your Selection</h3>
  		<form class="form-horizontal">
			<div class = "form-inline form-group">
	  			<label class="col-md-1 control-label">Name</label>
	  			<input id="product_name" class="form-control col-md-offset-1" type="text" name="name" value="{{ctlr.product.productname.trim()}}">
			</div>
			<div class = "form-inline form-group">
	  			<label class="col-md-1 control-label">SKU</label>
	  			<input id="sku" class="form-control col-md-offset-1" type="number" name="sku" value="{{ctlr.product.sku}}">
			</div>
			<div class = "form-inline form-group">
	  			<label class="col-md-1 control-label">Category</label>
	  			<input id="category_name" class="form-control col-md-offset-1" type="text" name="name" value="{{ctlr.product.categoryname.trim()}}">
			</div>
			<div class = "form-inline form-group">
	  			<label class="col-md-1 control-label">Price</label>
	  			<input id="price" class="form-control col-md-offset-1" type="number" name="type" value="{{ctlr.product.price}}">
			</div>
		</form>

		<hr>

		<div class = "form-inline form-group">
  			<label class=" control-label">Quantity</label>
  			<input id="quantity" class="form-control " type="number" name="type">
			<a class="btn btn-primary" role="button" ng-click="ctlr.addToCart()">Add to Cart</a>
		</div>
  	</div>
</div>