<h1>Buy Shopping Cart</h1>

<a class="btn btn-default col-sm-offset-0" role="button" href = "../home/">Home</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>

<div ng-app="BuyShoppingCart">
	<buyshoppingcart></buyshoppingcart>
</div>


<script type="text/javascript">
	var loggedinuser = {{{json username}}};
</script>


<script src="../js/buyshoppingcart.js"></script>