<!--<a>This page is available to owners only.</a>-->

<h1>Categories</h1>

<div class = "row">
	<div class = "form-inline form-group col-md-offset-0">
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../categories/">Categories</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../products/">Products</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../productorder/">Product Order</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../buyshoppingcart/">Buy Shopping Cart</a>
	</div>
</div>

<form id = "form_category" class="form-horizontal">
	<br>
	<div class = "form-inline form-group">
	  	<label class="col-sm-4 control-label">Name</label>
	  	<input id="name" class="form-control col-sm-offset-0" type="text" name="name">
	</div>
	<div class = "form-inline form-group">
	  	<label class="col-sm-4 control-label">Description</label>
	  	<textarea rows = "4" cols = "24" id="description" class="form-control col-sm-offset-0" name="description"></textarea>
	</div>

	<div class = "form-inline form-group">
		<button type="submit" class="btn btn-primary col-sm-offset-4">Update</button>
		<button type="submit" class="btn btn-primary col-sm-offset-0">Delete</button>
	</div>
</form>

<br>
<div class = "form-inline form-group">
	<button type="submit" class="btn btn-success btn-lg col-sm-offset-0">Insert</button>
</div>