{{#if isOwner}}

	<div class = "row">
		<div class = "form-inline form-group col-md-offset-0">
			<a class="btn btn-default col-sm-offset-0" role="button" href = "../categories/">Categories</a>
			<a class="btn btn-default col-sm-offset-0" role="button" href = "../products/">Products</a>
			<a class="btn btn-default col-sm-offset-0" role="button" href = "../productorder/">Product Order</a>
			<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
			<a class="btn btn-default col-sm-offset-0" role="button" href = "../buyshoppingcart/">Buy Shopping Cart</a>
		</div>
	</div>

<h1>Categories</h1>
<br>
On this page, Owners can:
<ul>
<li>View all categories</li>
<li>Create new categories</li>
<li>Update categories that belong to them</li>
<li>Delete empty categories that belong to them</li>
</ul>

<div ng-app="Categories">

<h4>
	{{#if error}}
<span id="create_error">Your category could not be created.</span>
	{{/if}}
<span id="updated_message">Your category was successfully updated.</span>
<span id="error_message">Your category was could not be updated.</span>
</h4>

	<categories>
	</categories>

	<form action="/categories/submit" method="get" target="_blank" id="form_category" class="form-horizontal">
		<br>
		<div class = "form-inline form-group">
		  	<label class="col-sm-4 control-label">Name</label>
		  	<input id="name" class="form-control col-sm-offset-0" type="text" name="name">
		</div>
		<div class = "form-inline form-group">
		  	<label class="col-sm-4 control-label">Description</label>
		  	<textarea rows = "4" cols = "24" id="description" class="form-control col-sm-offset-0" name="description"></textarea>
		</div>

	<br>
	<div class = "form-inline form-group">
		<button type="submit" class="btn btn-success col-sm-offset-9">Insert</button>
	</div>
	</form>

</div>


{{else}}
	<h2>This page is available to owners only.</h2>
{{/if}}

<script type="text/javascript">
	var loggedinuser = {{{json username}}};
</script>

<script src="../js/categories.js"></script>