<h1>Confirmation</h1>
<br>
<div class="row">
	<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
</div>
<br>


<div ng-app="Confirmation">
	<confirmation></confirmation>
</div>


<script type="text/javascript">
	var mycart = {{{json order}}};
	var mytotal = {{{json total}}};
</script>


<script src="../js/confirmation.js"></script>