<h1>Confirmation</h1>
<br>
<div class="row">
	<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
</div>
<br>


<div class="row">
	<div class="form-group" id = "form_products_right">
		<h3>Your Purchase</h3>
		Total: ${{total}}
	</div>
</div>

<script type="text/javascript">
	var mycart = {{{json order}}};
	var total = {{{json total}}};
	console.log(total);
</script>

