<h1>Confirmation</h1>
<br>
<div class="row">
	<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
</div>
<br>
<div class="row">
  	<div class="form-group col-md-5">
  		<h4>You've successfully purchased:</h4><br>
  		<form class="form-horizontal">
			<div class = "form-inline form-group">
	  			<label class="col-md-3 control-label">Product A</label><br><br>
	  			<label class="col-md-3 control-label">Product B</label>
	  		</div>
		</form>
		<br>
  	</div>
</div>