<h1>Home</h1>
<br>
<div class="form-group">

  	{{#if isOwner}}
  		<a class="btn btn-default col-sm-offset-0" role="button" href = "/categories/">Categories</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "/products/">Products</a>
	{{/if}}
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/productorder/">Product Order</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/productsbrowsing/">Products Browsing</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/buyshoppingcart/">Buy Shopping Cart</a>

</div>

<script src="../js/home.js"></script>