<div class = "form-inline form-group">
	<label id = "hello" class="col-sm-offset-0 control-label">Hello {{username}}</label>
	<a role="button" class="col-sm-offset-0 btn btn-danger" href="/logout/">Logout</a>
</div>

<h1>Home</h1>
<div class="form-group">

	<a class="btn btn-default col-sm-offset-0" role="button" href = "../home/">Home</a>
  	{{#if isOwner}}
  		<a class="btn btn-default col-sm-offset-0" role="button" href = "/categories/">Categories</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "/products/">Products</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "/analytics/">Analytics</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/similarproducts/">Product Similarity</a>
	{{/if}}
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/productsbrowsing/">Products Browsing</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/buyshoppingcart/">Buy Shopping Cart</a>

</div>


Welcome to our store. Use the links above to navigate our website.