<h1>HOME</h1>
<p>Welcome HOME</p>


  {{#if isOwner}}

  {{/if}}

<a href = "/categories/">Categories</a><br>
<a href = "/products/">Products</a><br>
<a href = "/productorder/">Product Order</a><br>
<a href = "/productsbrowsing/">Products Browsing</a><br>
<a href = "/buyshoppingcart/">Buy Shopping Cart</a><br>

