<h1>Home</h1>
<div class="form-group">

  {{#if isOwner}}

  {{/if}}

	<a class="btn btn-default col-sm-offset-0" role="button" href = "/categories/">Categories</a><br>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/products/">Products</a><br>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/productorder/">Product Order</a><br>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/productsbrowsing/">Products Browsing</a><br>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/buyshoppingcart/">Buy Shopping Cart</a><br>

</div>

