<h1>Log In</h1>
<br>
<form class="form-horizontal">
	<div class="form-inline form-group">
  		<label class="col-sm-1 control-label">Name</label>
  		<input id="login_name" class="form-control col-sm-offset-0" type="text" name="name">
  	</div>
  	<br><br>
  	<div class="form-group">
  		<button type="submit" class="btn btn-success btn-lg">Log in you stupid bitch</button>
  	</div>
</form>
