<h1>Log In</h1>

<form class="form-inline">
	<div class="form-group">
  		<label>Login Name</label>
  		<input id="login_name" class="form-control" type="text" name="name">
  	</div>
  	<br><br><br>
  	<div class="form-group">
  		<button type="submit" class="btn btn-success btn-lg">Log in you stupid bitch</button>
  	</div>
</form>
