<div class = "form-inline form-group">
	<label id = "hello" class="col-sm-offset-0 control-label">Hello {{username}}</label>
	<a role="button" class="col-sm-offset-0 btn btn-danger" href="/logout/">Logout</a>
</div>

{{#if isOwner}}

<h1>Products</h1>


<a class="btn btn-default col-sm-offset-0" role="button" href = "../home/">Home</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../categories/">Categories</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../products/">Products</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../analytics/">Analytics</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/similarproducts/">Product Similarity</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../buyshoppingcart/">Buy Shopping Cart</a>

<br><br>
On this page, Owners can:
<ul>
<li>View all products in the store</li>
<li>View all products in a particular category</li>
<li>Create new products</li>
<li>Update and delete products</li>
<li>Search through products</li>
</ul>


<h4>
<span id="add_error">The product could not be added.</span>
<span id="delete_error">The product could not be deleted.</span>
<span id="update_error">The product could not be updated.</span>
<span id="add_success">The product was successfully added.</span>
<span id="delete_success">The product was successfully deleted.</span>
<span id="update_success">The product was successfully updated.</span>
</h4>

<div ng-app="Products">
	<products></products>
</div>

{{else}}
	<h2>This page is available to owners only.</h2>
{{/if}}


<script type="text/javascript">
	var loggedinuser = {{{json username}}};
</script>

<script src="../js/products.js"></script>