<h1>Product Order</h1>

<div ng-app="ProductOrder">
	<productorder></productorder>
</div>

<script type="text/javascript">
	var loggedinuser = {{{json username}}};
	var product = {{{json product}}};
</script>

<script src="../js/productorder.js"></script>