{{#if isOwner}}

<h1>Products</h1>

<div class = "row">
	<div class = "form-inline form-group col-md-offset-0">
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../categories/">Categories</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../products/">Products</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../productorder/">Product Order</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../productsbrowsing/">Products Browsing</a>
		<a class="btn btn-default col-sm-offset-0" role="button" href = "../buyshoppingcart/">Buy Shopping Cart</a>
	</div>
</div>

<div ng-app="Products">
	<products></products>
</div>

{{else}}
	<h2>This page is available to owners only.</h2>
{{/if}}


<script type="text/javascript">
	var loggedinuser = {{{json username}}};
</script>

<script src="../js/products.js"></script>