<h1>Product Order</h1>

<div class="row">
	<a class="btn btn-default col-sm-offset-0" role="button" href = "../buyshoppingcart/">Buy Shopping Cart</a>
</div>

<div class="row">
  	<div class="form-group col-md-5" id = "form_products_right">
  		<h3>Products</h3>
  		<form class="form-horizontal">
			<div class = "form-inline form-group">
	  			<label class="col-md-3 control-label">Product A</label>
	  			<input id="product_name" class="form-control col-md-offset-0" type="number" name="name" placeholder="Quantity">
			</div>
			<div class = "form-inline form-group">
	  			<label class="col-md-3 control-label">Product B</label>
	  			<input id="product_name" class="form-control col-md-offset-0" type="number" name="name" placeholder="Quantity">
			</div>
		</form>
		<br>
		<div class = "form-inline form-group">
			<a class="btn btn-primary col-sm-offset-0" href = "../productsbrowsing/" role="button">Submit</a>
		</div>
  	</div>
</div>