
<h1>Sign Up</h1>
<br>
<form class="form-horizontal">
	<div class="form-inline form-group">
		<label class="col-sm-2 control-label">What is your name?</label>
		<input id="signup_name" class="form-control col-sm-offset-0" type="text" name="name">
	</div>
	<br><br>

	<div class="form-group">
		<label class="col-sm-2 control-label">Choose your role.</label>
		<div class="dropdown">
			<button id="button1" class="btn btn-primary">Role</button>
			<div class="dropdown-content">
				<a class = "role" href="#">Customer</a>
				<a class = "role" href="#">Owner</a>
			</div>
		</div>
	</div>
	<br><br>

	<div class="form-inline form-group">
		<label class="col-sm-2 control-label">What is your age?</label>
		<input id="signup_age" class="form-control col-sm-offset-0" type="text" name="age">
	</div>
	<br><br>

	<div class="form-group">
		<label class="col-sm-2 control-label">Where do you live?</label>
		<div class="dropdown">
			<button id="button2" class="btn btn-primary">State</button>
			<div class="dropdown-content">
				<a class = "state" href="#">AL</a>
				<a class = "state" href="#">AK</a>
				<a class = "state" href="#">AR</a>
				<a class = "state" href="#">AZ</a>
				<a class = "state" href="#">CA</a>
				<a class = "state" href="#">CO</a>
				<a class = "state" href="#">CT</a>
				<a class = "state" href="#">DE</a>
				<a class = "state" href="#">FL</a>
				<a class = "state" href="#">GA</a>
				<a class = "state" href="#">HI</a>
				<a class = "state" href="#">IA</a>
				<a class = "state" href="#">ID</a>
				<a class = "state" href="#">IL</a>
				<a class = "state" href="#">IN</a>
				<a class = "state" href="#">KS</a>
				<a class = "state" href="#">KY</a>
				<a class = "state" href="#">LA</a>
				<a class = "state" href="#">MA</a>
				<a class = "state" href="#">MD</a>
				<a class = "state" href="#">ME</a>
				<a class = "state" href="#">MI</a>
				<a class = "state" href="#">MN</a>
				<a class = "state" href="#">MO</a>
				<a class = "state" href="#">MS</a>
				<a class = "state" href="#">MT</a>
				<a class = "state" href="#">NC</a>
				<a class = "state" href="#">ND</a>
				<a class = "state" href="#">NE</a>
				<a class = "state" href="#">NH</a>
				<a class = "state" href="#">NJ</a>
				<a class = "state" href="#">NM</a>
				<a class = "state" href="#">NV</a>
				<a class = "state" href="#">NY</a>
				<a class = "state" href="#">OH</a>
				<a class = "state" href="#">OK</a>
				<a class = "state" href="#">OR</a>
				<a class = "state" href="#">PA</a>
				<a class = "state" href="#">RI</a>
				<a class = "state" href="#">SC</a>
				<a class = "state" href="#">SD</a>
				<a class = "state" href="#">TN</a>
				<a class = "state" href="#">TX</a>
				<a class = "state" href="#">UT</a>
				<a class = "state" href="#">VT</a>
				<a class = "state" href="#">VA</a>
				<a class = "state" href="#">WA</a>
				<a class = "state" href="#">WI</a>
				<a class = "state" href="#">WV</a>
				<a class = "state" href="#">WY</a>
			</div>
		</div>
	</div>
	<br><br><br>
	<button type="submit" class="col-sm-offset-2 btn btn-success btn-lg">Submit</button>
	<br><br><br><br>
	<label class="col-sm-2 control-label">Already have an account?</label>
	<a role="button" class="col-sm-offset-0 btn btn-default" href = "../login/">Login Here</a>
</form>

<script src="../js/signup.js"></script>
